<a href="https://colab.research.google.com/github/LorenzoBela/OOP58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [25]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [26]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  print(x)            #It displays from Sunday to Wednesday
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [7]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Thursday":
    print(x)            #It only displays Thursday
    break

Thursday

In [27]:
week = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
for x in week:
  if x=="Wednesday":
    print(x)            #It displays Wednesday and Thursday
    break
for y in week:
  if y=="Thursday":
    print(y)            
    break

Wednesday
Thursday

In [29]:
for x in "week":
  print(x)

w
e
e
k

Nested Loops

In [30]:
adjective=['red','big','tasty']
fruits=['apple','banana','cherry']
for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

While loop

In [31]:
i=1
while i<6:
  print(i)
  i+=1 #i += 1

1
2
3
4
5

In [32]:
#Using break statement
i=1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

Less than 10 but not less than 3

In [33]:
i=1
while i < 6:
  if i == 3:
    print(i)     #Print only 3
    break
  i+=1

3

In [34]:
#else statement
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [35]:
i = 0
while i <= 10:
  print("Hello" , i)
  i += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [36]:
i = 9
while i>= 3:
  print(i)
  i -= 1

9
8
7
6
5
4
3